<main>
  <!--Inicio CONTAINER GENERAL-->
  <div class="container">
    <!--Inicio ROW-->
    <div class="row">

      <!--Inicio COLUMNAS-->
      <div class="col-lg-3 col-md-6 col-sm-6">

        <div class="card card-stats">

          <div class="card-header card-header-success card-header-icon">

            <div class="card-icon"
                 data-header-animation="true">

              <i class="fas fa-sitemap"></i>
            </div>
            <p class="card-category"><a class="green-text" href="vistaFacultad.php">Facultades</a></p>
            <h3 class="card-title">1</h3>
          </div>


          <div class="card-footer">
            <div class="stats">
              <i class="material-icons text-success">access_time</i> Sistema de gestión PQR
            </div>
          </div>

        </div>
      </div>
      <!--Fin COLUMNAS-->

      <!--Inicio COLUMNAS-->
      <div class="col-lg-3 col-md-6 col-sm-6">

        <div class="card card-stats">

          <div class="card-header card-header-success card-header-icon">

            <div class="card-icon"
                 data-header-animation="true">

              <i class="fas fa-sitemap"></i>
            </div>
            <p class="card-category"><a class="green-text" href="vistaPrograma.php">Programas</a></p>
            <h3 class="card-title">3</h3>
          </div>


          <div class="card-footer">
            <div class="stats">
              <i class="material-icons text-success">access_time</i> Sistema de gestión PQR
            </div>
          </div>

        </div>
      </div>
      <!--Fin COLUMNAS-->

      <!--Inicio COLUMNAS-->
      <div class="col-lg-3 col-md-6 col-sm-6">

        <div class="card card-stats">

          <div class="card-header card-header-success card-header-icon">

            <div class="card-icon"
                 data-header-animation="true">

              <i class="fas fa-users"></i>
            </div>
            <p class="card-category"><a class="green-text" href="vistaDocenteAdmin.php">Docentes</a></p>
            <h3 class="card-title">0</h3>
          </div>


          <div class="card-footer">
            <div class="stats">
              <i class="material-icons text-success">access_time</i> Sistema de gestión PQR
            </div>
          </div>

        </div>
      </div>
      <!--Fin COLUMNAS-->


      <!--Inicio COLUMNAS-->
      <div class="col-lg-3 col-md-6 col-sm-6">

        <div class="card card-stats">

          <div class="card-header card-header-success card-header-icon">

            <div class="card-icon"
                 data-header-animation="true">

              <i class="fas fa-users"></i>
            </div>
            <p class="card-category"><a class="green-text" href="vistaDocenteAdmin.php">Coordinadores</a></p>
            <h3 class="card-title">3</h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons text-success">access_time</i> Sistema de gestión PQR
            </div>
          </div>

        </div>
      </div>
      <!--Fin COLUMNAS-->
    </div>
    <!--Fin ROW-->
  </div>
  <!--Fin COLUMNAS-->
  <footer class="footer footer-copyright green darken-3 white-text" style="position: fixed; bottom: 0; width: 100%">
  </footer>
  <!--Fin CONTAINER GENERAL--></main>

