<main>
  <!--Inicio CONTAINER GENERAL-->
  <div class="container">

    <div class="row">
      <div class="col-md-12">
        <div class="card card-stats">
          <div class="card-header card-header-icon card-header-success">
            <div class="card-icon">
              <i class="fas fa-users"></i>
            </div>
            <h5 class="card-title center ">Gestión de usuarios</h5>
          </div>

          <div class="card-body">
            <a [routerLink]="'./add'" class="btn btn-success left">
              Nuevo Usuario<i class="fa fa-user-plus"></i>
            </a>
            <br>
            <br>
            <div class="col-md-12">

              <jw-modal id="editUserModel">
                <!-- Inicio contenido MODAL 1-->
                <div class="modal-content">
                  <!--Inicio CUERPO MODAL 1-->
                  <div class="modal-body">
                    <!--Inicio FORM-->
                    <form #editForm="ngForm" (ngSubmit)="updateUser()">
                      <div class="row">
                        <div class="input-field col s10">
                          <input id="Efirst_name" type="text" class="validate">
                          <label for="Efirst_name">Nombre</label>
                        </div>
                        <div class="card-header card-header-success card-header-icon">
                          <div class="card-icon">
                            <i class="material-icons">face</i>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="input-field col s6">
                          <input id="Elast_name" type="text" class="validate">
                          <label for="Elast_name">Apellidos</label>
                        </div>
                      </div>
                      <div class="row">
                        <div class="input-field col s6">
                          <input id="Eemail" type="email" class="validate">
                          <label for="Eemail">Email</label>
                        </div>
                        <div class="input-field col s6">
                          <select>
                            <option value="" disabled selected>Seleccionar...</option>
                            <option [value]="admin_profile">Administrador</option>
                            <option [value]="teacher_profile">Docente</option>
                          </select>
                          <label>Tipo de usuario</label>
                        </div>
                      </div>
                      <button (click)="closeModal('editUserModel')" class="btn btn-danger left">Cancelar <i
                        class="fa fa-refresh"></i></button>
                      <button type="submit" class="btn btn-success modal-trigger right">
                        Guardar<i class="fa fa-arrow-circle-right"></i>
                      </button>
                    </form>
                    <!--Fin FORM-->
                  </div>
                  <!--Fin CUERPO MODAL 1-->

                </div>
                <!-- Fin contenido MODAL 1-->

              </jw-modal>

              <!--depliegue de usuarios-->
              <table class="table table-striped">
                <thead>
                <tr>
                  <th class="text-center">Identificación</th>
                  <th class="text-center">Nombre</th>
                  <th class="text-center">Email</th>
                  <th class="text-center">Tipo</th>
                  <th></th>
                </tr>
                </thead>
                <tbody class="" id="tUsuarios" *ngIf="docentes">
                <tr *ngFor="let docente of docentes">
                  <td class="text-center">{{docente.id_num}}</td>
                  <td class="text-center">{{docente.name}}</td>
                  <td class="text-center">{{docente.email}}</td>
                  <td class="text-center">Docente</td>
                  <td class="td-actions right">
                    <a class="btn btn-success btn-link left modal-trigger btn tooltipped"
                       data-position="bottom" data-toggle="tooltip" data-placement="right" title="Promover docente" rel="tooltip"
                       href="#asignarDocente"><i class="fas fa-user-plus"></i></a>
                    <a class="btn btn-info btn-link left btn tooltipped"
                       data-position="bottom" data-toggle="tooltip" data-placement="right" title="Editar Usuario" rel="tooltip" href="#editarDocenteAdmin">
                      <i class="fas fa-user-edit"></i></a>
                    <button type="button" rel="tooltip" class="btn btn-danger btn-link btn tool" data-position="bottom" data-toggle="tooltip" data-placement="right" title="Deshabilitar Usuario">
                      <i class="fas fa-user-lock"></i>
                      </button>
                  </td>

                </tr>

                <jw-modal id="promoverDocente">
                  <!-- Inicio contenido MODAL 1-->
                  <div class="modal-content">

                    <!--Inicio CUERPO MODAL 1-->
                    <div class="modal-body">

                      <!--Inicio FORM-->
                      <div class="card-body">
                        <form>
                          <div class="row">
                            <div class="input-field col s10">
                              <select>
                                <option value="" disabled selected>Seleccionar...</option>
                                <option value="1">Arquitectura</option>
                                <option value="2">Ingeniería industrial</option>
                                <option value="3">Ingeniería de sistemas</option>
                              </select>
                              <label>Asigando como coordinador de : </label>
                            </div>
                            <div class="card-header card-header-success card-header-icon">

                              <div class="card-icon">
                                <i class="fas fa-users"></i>
                              </div>
                            </div>
                          </div>

                          <br>

                          <button href="vistaDocenteAdmin.php" class="btn btn-danger left">Cancelar <i
                            class="fa fa-refresh"></i></button>


                          <button type="submit" class="btn btn-success">
                            Crear<i class="fa fa-arrow-circle-right"></i>
                          </button>
                        </form>
                      </div>
                      <!--Fin CONTENIDO MODAL 2-->
                    </div>


                  </div>

                </jw-modal>

                </tbody>
              </table>


              <div class="card-footer">
                <div class="stats">
                  <i class="material-icons text-success">access_time</i> Sistema de gestión PQR
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
    </div>
  </div>
</main>
<!--Fin CONTAINER GENERAL-->
